<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Yelverton Bowmen</title>
  </head>
  <body>
    <nav>
        <img src="../static/imgs/logo.png" />
        <br>
        <span><a href="{{ url_for('index') }}">Home</a></span>
        <span><a href="{{ url_for('club') }}">Club</a></span>
        <span><a href="{{ url_for('records') }}">Records Room</a></span>
        <span><a href="#">News</a></span>
        <span><a href="{{ url_for('gallery') }}">Gallery</a></span>
        <span><a href="#">Join Us</a></span>
    
        <div id="subnav">
            {% for category in subnav_bar %}
            <span><a href="#{{ category.lower().replace(' ','-') }}">{{ category }}</a></span>
            {% endfor %}

        </div>
    </nav>

    <div id="main">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
        <p>
            All content on this website (except where external sources are cited), is ©Copyright Yelverton Bowmen, all rights reserved. The Archery GB, Devon and Cornwall Archery Society, Grand Western Archery Society and National Field Archery Society logos are © copyright of their respective owners.
            <!-- <br> <a href="github.com/corey-richardon" target="_blank">github.com/corey-richardon</a> -->
        </p>
        
    </footer>

  </body>
</html>