<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Yelverton Bowmen</title>
  </head>
  <body>
    <nav>
        <img src="../static/imgs/logo.png" />
        <br>
        <span><a href="{{ url_for('index') }}">Home</a></span>
        <span><a href="{{ url_for('club') }}">Club</a></span>
        <span><a href="#">Records Room</a></span>
        <span><a href="#">News</a></span>
        <span><a href="#">Gallery</a></span>
        <span><a href="#">Join Us</a></span>
    
        <div id="subnav">
            <span><a href="#welcome">Welcome</a></span>
            <span><a href="#beginners">Beginners</a></span>
            <span><a href="#useful-links">Useful Links</a></span>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <p>
            All content on this website (except where external sources are cited), is ©Copyright Yelverton Bowmen, all rights reserved. The Archery GB, Devon and Cornwall Archery Society, Grand Western Archery Society and National Field Archery Society logos are © copyright of their respective owners.
            <!-- <br> <a href="github.com/corey-richardon" target="_blank">github.com/corey-richardon</a> -->
        </p>
        
    </footer>

  </body>
</html>