{% extends "base.html" %}
{% block content %}

<div id="shooting-times">
    <h2>Shooting Times</h2>
</div>

<div id="beginners-page">
    <h2>Beginners</h2>
</div>

<div id="costs">
    <h2>Costs</h2>
</div>

<div id="committee">
    <h2>Committee</h2>
    <p>The Yelverton Bowmen committee is elected each year at the AGM. The current committee is listed below.</p>
    
    {% for name, role_info in committee_members.items() %}
    <div class="committee-member">
        <table>
            <tr>
                <td>
                    <img src="{{role_info[1]}}" />
                </td>
                <td>
                <h3>{{ role_info[0] }}</h3>
                <p><i>{{ name }}</i></p>
                <p>{{ role_info[2] }}</p>
                </td>
            </tr>
        </table>
        <br>
    </div>
    {% endfor %}
</div>

<div id="constitution-and-policy">
    <h2>Constitution and Policy</h2>
</div>

{% endblock %}