{% extends "base.html" %}
{% block content %}

<div id="club-records">
    
    <div id="record-text" >

        <h2>Club Records</h2>

        <p>The buttons below link to tables containing the Yelverton Bowmen Club Records for their respective bowstyle.</p>
        <a href="/records/afb">American Flatbow</a>
        <a href="/records/barebow">Barebow</a>
        <a href="/records/compound">Compound</a>
        <a href="/records/longbow">Longbow</a>
        <a href="/records/recurve">Recurve</a> <br><br>

    </div>

</div>

<div id="rounds-and-classifications">
    <h2>Rounds and Classifications</h2>
</div>

<div id="252-scheme">
    <h2>252 Scheme</h2>
</div>

<div id="frostbite-postal">
    <h2>Frostbite Postal</h2>
</div>

<div id="portsmouth-postal">
    <h2>Portsmouth Postal</h2>
</div>

{% endblock %}