{% extends "base.html" %}
{% block content %}

<style>
    #club-records table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
    
    #club-records table {
        width: 100%;
    }
    
    #club-records th, td {
        width: 20%;
        text-align: center;
    }
</style>

<div id="club-records">

    <h1>Club Records</h1>
    <center>
        <a href="#barebow">Barebow</a>
        <a href="#recurve">Recurve</a>
        <a href="#compound">Compound</a>
        <a href="#longbow">Longbow</a>
        <a href="#afb">American Flatbow</a>
    </center>
    <p>The tables below display the club records. Use the links above to navigate.</p>


    {% for bowtype_label, bowtype in bowtypes.items() %}
    <div id="{{ bowtype_label | lower }}">
        <table>
            <tr>
                <th colspan="5">{{ bowtype_label }}</th>
            </tr>
            <tr>
                <th rowspan="2">Round</th>
                <th colspan="2">Gents</th>
                <th colspan="2">Ladies</th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Score</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
            {% for round_name, record_data in bowtype.items() %}
            <tr>
                <td>{{ round_name }}</td>
                {% for i in range(0,3) %}
                <td>{{ record_data[i] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    {% endfor %}

</div>

<div id="rounds-and-classifications">
    <h1>Rounds and Classifications</h1>
</div>

<div id="252-scheme">
    <h1>252 Scheme</h1>
</div>

<div id="frostbite-postal">
    <h1>Frostbite Postal</h1>
</div>

<div id="portsmouth-postal">
    <h1>Portsmouth Postal</h1>
</div>

{% endblock %}