<!DOCTYPE html>
<html>
    <head>
        <title>Yelverton Bowmen of Plymouth</title>
        <link href="./style.css" rel="stylesheet" />
    </head>

    <body>
        
        <nav>
            <img src="imgs/logo.png" />
            <br>
            <span><a href="/index.html">Home</a></span>
            <span><a href="#">Club</a></span>
            <span><a href="#">Records Room</a></span>
            <span><a href="#">News</a></span>
            <span><a href="#">Gallery</a></span>
            <span><a href="#">Join Us</a></span>
        </nav>

        <!-- UPDATE SUBNAV LINKS -->
        <div id="subnav">
            <span><a href="#"></a></span>
        </div>

        <!-- CONTENT GOES HERE -->
        <div id="main">

        </div>

    </body>

    <footer>
        <p>
            All content on this website (except where external sources are cited), is ©Copyright Yelverton Bowmen, all rights reserved. The Archery GB, Devon and Cornwall Archery Society, Grand Western Archery Society and National Field Archery Society logos are © copyright of their respective owners.
            <br> <a href="github.com/corey-richardon" target="_blank">github.com/corey-richardon</a>
        </p>
        
    </footer>

</html>